/* PaymentUser.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="file"] {
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: red;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}
.qr-container {
  display: flex;
  flex-direction: column; /* Stack image and description vertically */
  align-items: center; /* Center horizontally */
  margin: 20px 0; /* Add some margin for spacing */
}

.qr-image {
  width: 270px; /* Set the width of the image */
  height: 270px; /* Set the height of the image */
}

.qr-description {
  margin-top: 10px; /* Space between image and description */
  text-align: center; /* Center text */
}
